@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #DF7401;
	margin: 0;
	padding: 0;
	color: #FF0000;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}

p{
	font-size:14px;
}

a img {
	border: none;
}

/* ~~ styling ~~ */
a:link { /*kleur van de link, link is onderstreept*/
	color:#F2990A; /*gray*/
	text-decoration: underline; /*link onderlijnd*/
}
a:visited { /*kleur van de bezochte link, link is onderstreept*/
	color: #4E5869; /*gray*/
	text-decoration: underline; /*link onderlijnd*/
}
a:hover, a:active, a:focus { /*decoratie bij: muis over link, link geselecteerd, in tekst veld*/
text-decoration: none;	/*geen decoratie*/
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container { /*hier staat alle divs in*/
	width: 90%;
	max-width: 1260px;/* zorgt ervoor dat de site niet te ver uitgerekt word */
	min-width: 780px;/* zorgt ervoor dat de site niet te ver ingedrukt word (je krijgt dan een scrollbar) */
	background-color: #FFF; /*achtergrond kleur (wit, is te zien bij content voorlopig)*/
	margin: 0 auto; /* centreerd de layout bij width kleiner dan 100% */
	min-height:100%;
	height:auto;
	height: 100%;
}


.header { /*geen width want is even groot als het scherm*/
	background-color: #F2990A; /*achtergrond kleur header*/
}

/* ~~   ~~*/


}
/* ------------------------------------------------------------------------------------------------ */

}
/* ~~ The navigation list styles ~~ */



/* ------------------------------------------------------------------------------------------------ */
	/* ~~ The footer ~~ */
.footer {
	padding: 10px 0; /* top/bottem - right/left */
	background-color: #F2990A;/*achtergrond-kleur footer*/
	width: 100%;
	height: 30px;
	clear: both; /* clear dwingt container om de kolommen (sidebar, content) te eindigen */
}

/* ------------------------------------------------------------------------------------------------ */
